---
http_interactions:
- request:
    method: get
    uri: https://domainwat.ch/api/search?query=*&type=string
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","records":[{"domain":"monerotan.com","added_at":"2018-12-01
        01:52:16"},{"domain":"applerepaircentreindelhi.com","added_at":"2018-12-01
        01:52:12"},{"domain":"ff14antenna.info","added_at":"2018-12-01 01:52:07"},{"domain":"generateinvoice.xyz","added_at":"2018-12-01
        01:52:04"},{"domain":"poshsurfside.com","added_at":"2018-12-01 01:52:04"},{"domain":"lesgoonies-ark.fr","added_at":"2018-12-01
        01:51:01"},{"domain":"peace-landtravel.com","added_at":"2018-12-01 01:50:56"},{"domain":"workfromhomesystem.top","added_at":"[...]
